<div class="mt-4">
    <h3>Sửa khoá học</h3>
    <form method="post" action="/courses/{{courses._id}}?_method=PUT">
        <div class="mb-3">
            <label for="mota" class="form-label">Tên:</label>
            <input type="text" name="name" value="{{courses.name}}" class="form-control" id="mota">
        </div>
        <div class="mb-3">
            <label for="mota" class="form-label">Mô tả:</label>
            <textarea name="description" class="form-control" id="mota">{{courses.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="mota" class="form-label">Video ID:</label>
            <input type="text" name="videoId" value="{{courses.videoId}}" class="form-control" id="videoID">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>